// * {
//   outline: 1px solid red;
// }

:root {
	--heart-button-circles-animation-durationMs: 500;
	--navbar-height: 60px;
	--sidebar-width: 0px; // This is set programmatically
}

// autocomplete-list
$autocompleteListBorderWidth: 1px;
$autocompleteListBorderColor: hsl(0, 0%, 73%);

body {
	margin: 0;
	font-family: "Roboto", sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100vh;
}

#container {
	position: absolute;
	top: var(--navbar-height);
	left: var(--sidebar-width);
	right: 0;
	width: calc(100% - var(--sidebar-width));
}

#navbar {
	position: fixed;
	top: 0;
	right: 0;
	height: var(--navbar-height);
	width: calc(100% - var(--sidebar-width));
}

#sidebar {
	position: fixed;
	width: var(--sidebar-width);
}

#root {
	height: inherit;
}

#bg-cover {
	position: absolute;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba($color: #000000, $alpha: 0.6);
	z-index: 40;
	transition: all 0.3s;
}

* {
	box-sizing: border-box !important;
}

.switch > * {
	box-sizing: content-box !important;
}

.inactive-v {
	visibility: hidden !important;
	opacity: 0 !important;
}

/* loading */
.loading-cover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: hsl(0, 0%, 60%);
	z-index: 50;
	border-radius: inherit;
}

.loading {
	border-radius: 50%;
	border: 16px solid lightgray;
	border-top: 16px solid #0084ff;
	border-right: 16px solid #0084ff;
	animation: load 1s linear infinite;
}

@keyframes load {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

/* tooltip */
.tooltip {
	position: absolute;
	color: white;
	background: black;
	padding: 0.5em;
	transition: opacity 0.3s;
	white-space: nowrap;
	font-size: 1em;
	font-weight: bold;
	max-width: fit-content;
}

/* validation */
.validation-error-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	white-space: nowrap;
}

.validation-input-error {
	border: 2px solid red !important;
}

/* typed text */
.typed-text {
	position: relative;
	width: fit-content;
}

.typed-text::after {
	animation: blink 1s infinite;
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: -7px;
	width: 4px;
	height: 100%;
	background-color: currentColor;
}

@keyframes blink {
	0% {
		visibility: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.heart-button--mount {
	.heart-button-circles {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 135%;
		height: 135%;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) scale(0);
			width: 100%;
			aspect-ratio: 1 / 1;
			border-width: 10px;
			border-style: solid;
			border-color: rgb(74 222 128);
			border-radius: 50%;
			filter: blur(0.5px);
			animation: heart-button-circles
				calc(var(--heart-button-circles-animation-durationMs) * 1ms) forwards;
		}
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) scale(0);
			width: 100%;
			aspect-ratio: 1 / 1;
			border-style: solid;
			border-color: rgb(74 222 128);
			border-radius: 50%;
			filter: blur(0.5px);
			animation: heart-button-circles /* duration */
				calc(var(--heart-button-circles-animation-durationMs) * 1ms) /* delay */
				calc(calc(var(--heart-button-circles-animation-durationMs) * 0.2) * 1ms) forwards;
		}
	}
}

@keyframes heart-button-circles {
	0% {
		transform: translate(-50%, -50%) scale(0);
		border-width: 10px;
		opacity: 1;
	}

	70% {
		opacity: 1;
	}

	100% {
		transform: translate(-50%, -50%) scale(1);
		border-width: 1px;
		opacity: 0;
	}
}

@keyframes heart-button-move {
	50% {
		transform: translateX(-10%);
	}

	65% {
		transform: translateX(20%);
	}

	85% {
		transform: translateX(-10%);
	}

	100% {
		transform: translateX(0%);
	}
}

.heart-button--unmount {
	animation: heart-button-move 0.4s ease-in;
}

// lds loading
.lds-ripple {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-ripple div {
	position: absolute;
	border: 4px solid #fff;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
	animation-delay: -0.5s;
}
@keyframes lds-ripple {
	0% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 0;
	}
	4.9% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 0;
	}
	5% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 0px;
		left: 0px;
		width: 72px;
		height: 72px;
		opacity: 0;
	}
}

// autocomplete list
.autocomplete-list {
	z-index: 100;
	position: absolute;
	list-style: none;
	box-sizing: border-box;
	border-right: $autocompleteListBorderWidth solid $autocompleteListBorderColor;
	border-bottom: $autocompleteListBorderWidth solid $autocompleteListBorderColor;
	border-left: $autocompleteListBorderWidth solid $autocompleteListBorderColor;
	width: 100%;
	bottom: 0;
	max-height: 33.2vh;
	margin: 0;
	transform: translate(0, 100%);
	border-radius: 0 0 0.25rem 0.25rem;
	background: white;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	overflow-y: scroll;
	li {
		&:first-child {
			margin-top: 0.4em;
		}
		&:last-child {
			margin-bottom: 0.4em;
		}
		cursor: pointer;
		padding: 0.5rem;
		margin-left: 0.4em;
		margin-right: 0.4em;
	}
	li:hover {
		text-decoration: underline;
	}
}
