@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1.ce-header {
		@apply text-3xl font-bold;
	}
	h2.ce-header {
		@apply text-2xl font-semibold;
	}
	h3.ce-header {
		@apply text-xl font-semibold;
	}
	h4.ce-header {
		@apply text-lg font-semibold;
	}
	h5.ce-header {
		@apply text-base font-semibold;
	}
	h6.ce-header {
		@apply text-base font-semibold;
	}
}

@layer components {
	input:not(.cdx-search-field__input),
	textarea,
	.DraftEditor-editorContainer {
		@apply rounded-md bg-gray-50 
            transition-colors duration-200
            focus-within:bg-gray-100 dark:bg-gray-700
            dark:focus-within:bg-gray-600;
	}
	.DraftEditor-editorContainer {
		@apply border p-2 ring-blue-500 focus-within:ring-2 #{!important};
	}
	.text-secondary {
		@apply text-gray-600
        dark:text-gray-300;
	}
	.text-secondary-hover {
		@apply text-gray-600 hover:text-black 
        dark:text-gray-300 dark:hover:text-white;
	}

	.ce-inline-toolbar,
	.ce-popover {
		@apply text-black;
	}
	.ce-toolbar__actions > .ce-toolbar__plus,
	.ce-toolbar__settings-btn {
		@apply hover:bg-slate-600;
	}
	.ce-toolbar__plus svg,
	.ce-toolbar__settings-btn svg {
		@apply dark:text-white;
	}
}
